/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override boilerplate/partials/_defaults.scss here.
 */
// turns off the global border box setting
//$global-border-box: false;
/*  The width and height properties include the padding and border,
    but not the margin. (https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing).
    Supported by IE 8 and newer
 */

 //$use-wordpress-classes: true; //enable if this is a WordPress project

//These are used to calculate the base-spacing-unit
// You probally want to define the font for the smallest screen size here, if designing "mobile-up"
// If you want IE 7 & 8 to use another font than the smallest one, it might be easeist to define the desired IE 7-8 font size as $base-font-size.
//$base-font-size:    16px;
//$base-line-height:  24px; // usually about 1.5 * $base-font-size

//This is the default font.
//$base-font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; // http://css-tricks.com/snippets/css/better-helvetica/


/*
    Font-sizes. You only need to define the px or relative size. 
    Rems and line-height will be generated in _base.scss using the font-size mixin.
 */

// pixel sizes:
//$h1-size:           36px; // = 2.25 * $base-font-size
//$h2-size:           30px; // = 1.875 * $base-font-size
//$h3-size:           24px; // = 1.5 * $base-font-size
//$h4-size:           20px; // = 1,25 * $base-font-size
//$h5-size:           16px; // = 1 * $base-font-size
//$h6-size:           14px; // = 0.875 * $base-font-size

// OR

// relative sizes:
//$h1-size:           2.25*$base-font-size;   // 16px $base-font-size => 36px;
//$h2-size:           1.875*$base-font-size;  // 16px $base-font-size => 30px
//$h3-size:           1.5*$base-font-size;    // 16px $base-font-size => 24px
//$h4-size:           1.25*$base-font-size;   // 16px $base-font-size => 20px
//$h5-size:           1*$base-font-size;      // 16px $base-font-size => 16px
//$h6-size:           0.875*$base-font-size;  // 16px $base-font-size => 14px





/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables here.
 */